.md-content {
    background-color: rgb(250, 250, 250) !important;
}

// Messages when content can not be loaded
.zero {
    margin: 1em auto;
    color: #666;
    text-align: justify;
    font-style: italic;
    max-width: 25em;
}
